@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    font-family: 'Ubuntu', sans-serif;
} */

.bg-map {
    background: url('../images/background6.jpeg');
    background-position: center;
    background-size: cover;
}

.bg-black {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    flex-direction: column;
}